* {
  box-sizing: border-box;
/*  border: thin solid black; */
}

body { margin: 0; }

#page {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(0px, auto);
}

#topbar {
  top: 10px;
  position: fixed;
  grid-column: 1 / 6;
  grid-row: 1;
  color: orange;
  background-color: none;
  font: bold 200% monospace;
 }

#logotipo{
  height: ;
  width: ;


}

.large {
  width: 80px;
  height: 80px;
background-color: orange;
  border-radius: 90%;
 }






#slider {
 width: 1920px;
 height: 300px;
 grid-column: 1 / 6;
 grid-row: 2;
 background: ;
}
#foto{
  width: 1920px;
  height: 200px;
}

#cards {
  grid-column: 1 / 6;
  grid-row: 3;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #f4f4f4;



}

.card {
  text-align: center;
  margin: 0 auto;
  background-color: white;
  padding: 1em;
  margin: 1em;

}

.card > a {
  background-color: #0083dd;
  border: none;



}


#bottom {
  grid-column: 1 / 6;
  grid-row: 4;
}

#footer {
  grid-column: 1 / 6;
  grid-row: 5;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#footer-right {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.ejemplo{
  width: 300px;
  height: 200px;
